img {
  width: 170px; 
  height: 200px;
  border-radius: 50%;
}

body {
  background-color: #d9f7f7;
  font-family: Helvetica, sans-serif;
  font-weight: 200;
}

h1, h3 {
  color: #66bfbf;
}

h3 {
  font-variant: small-caps;
}


hr {
  height: 2px;
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  border-color: #66bfbf;
}

table {
font-weight: 200;
}


